@tailwind base;
@tailwind components;
@tailwind utilities;

/* For webkit browsers */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background: black;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #e0e0e0;
  }